asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
Django==5.2.15
djangorestframework==3.17.1
drf-yasg==1.21.15
idna==3.18
inflection==0.5.1
packaging==26.2
pytz==2026.2
PyYAML==6.0.3
requests==2.34.2
sqlparse==0.5.5
uritemplate==4.2.0
urllib3==2.7.0
